<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert solution:</title>
</head>
<body>
<form method ="POST" th:action="@{/solutionForm}" th:object="${solutionDto}">
    <input type="hidden" th:field="*{id}"/>
    <h3>Problem title:</h3>
    <input type="text" th:field="*{title}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">Title Error</span>
    <br/>
    <h3>Problem description:</h3>
    <input type="text" th:field="*{problemDescription}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('problemDescription')}"
          th:errors="*{problemDescription}">Problem Description Error</span>
    <br/>
    <h3>Code:</h3>
    <input type="text" th:field="*{code}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('code')}"
          th:errors="*{code}">Code Error</span>
    <br/>
    <h3>Solution description:</h3>
    <input type="text" th:field="*{solutionDescription}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('solutionDescription')}"
          th:errors="*{solutionDescription}">Solution Description Error</span>
    <br/>
    <input type="submit" value="Submit Solution"/>
</form>
</body>
</html>